<div class="navSlide">
    <div class="nav-close">
        <i class="ri-close-large-line"></i>
    </div>
    <ul class="nav-mobile-links">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/members" class="nav-link">Members</a></li>
        <li><a href="/clubs" class="nav-link">Clubs</a></li>
        <li><a href="/faculty" class="nav-link">Mentors</a></li>
        <li><a href="/gallery" class="nav-link">Event Gallery</a></li>
        <li><a href="/login" class="nav-link login-btn">Login</a></li>   
    </ul>
</div>

<nav class="main-nav glass-effect">
    <div class="nav-logo">
        <img src="/image folder/Student council png.png" alt="Student Council Logo" class="logo-img">
        <h1 class="logo-text">STUDENT COUNCIL</h1>
    </div>

    <ul class="nav-links">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/members" class="nav-link">Members</a></li>
        <li><a href="/clubs" class="nav-link">Clubs</a></li>
        <li><a href="/faculty" class="nav-link">Mentors</a></li>
        <li><a href="/gallery" class="nav-link">Event Gallery</a></li>
        <i class="ri-menu-line menu-toggle"></i>
    </ul>
</nav>