  <!-- Mobile Navigation -->
  <div class="navSlide" aria-label="Mobile Navigation">
    <div class="icon">
     <i class="ri-close-large-line" aria-label="Close Menu"></i>
    </div>
     <ul class="NavLinks">
       <li><a href="/">Home</a></li>
       <li><a href="/members">Members</a></li>
       <li><a href="/clubs">Clubs</a></li>
       <li><a href="/faculty">Mentors</a></li>
       <li><a href="/gallery">Event Gallery</a></li> 
   </ul>
   </div>

<!-- Main Navigation -->
<nav aria-label="Main Navigation">
<div class="logo">
        <img class="image-logo" src="/image folder/Student council png.png" alt="Council Logo" title="council logo">
        <h1>STUDENT COUNCIL</h1>
</div>
<ul class="nav-links">
    <li><a href="/" aria-current="page">Home</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/clubs">Clubs</a></li>
    <li><a href="/faculty">Mentors</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <% if(isLoggedIn){ %>
        <a href="/userPage" class="user-icon">
            <i class="ri-user-3-line"></i>
        </a>
    <% } else { %>
        <li id="desktop-login-btn">
            <a href="/login" class="loginButton">Login</a>
        </li>
    <% } %>
        <i class="ri-menu-line" aria-label="Toggle Mobile Menu"></i>
</ul>
</nav>
