<div class="navSlide">
    <div class="icon">
     <i class="ri-close-large-line"></i>
    </div>
     <ul class="NavLinks">
       <li><a href="/">Home</a></li>
       <li><a href="/members">Members</a></li>
       <li><a href="/clubs">Clubs</a></li>
       <li><a href="/faculty">Mentors</a></li>
       <li><a href="/gallery">Event Gallary</a></li>
       <li><a href="/login" class="loginButton">Login</a></li>   
   </ul>
   </div>
<nav>
    <div class="logo">
        <img class="image-logo" src="/image folder/Student council png.png" title="council logo">
        <h1>STUDENT COUNCIL</h1>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/faculty">Mentors</a></li>
        <li><a href="/gallery">Event Gallary</a></li>
        <i class="ri-menu-line"></i>
    </ul>
</nav>