<div class="preloader" id="preloader">
    <div class="loader-content">
        <div class="loader-ring">
            <div class="logo-container">
                <img 
                    src="/image folder/Student council png.png" 
                    alt="Student Council Logo"
                    loading="eager"
                    decoding="async"
                >
            </div>
        </div>
        <div class="loader-text-container">
            <div class="loader-text">
                <span>S</span>
                <span>T</span>
                <span>U</span>
                <span>D</span>
                <span>E</span>
                <span>N</span>
                <span>T</span>
                <span>&nbsp;</span>
                <span>C</span>
                <span>O</span>
                <span>U</span>
                <span>N</span>
                <span>C</span>
                <span>I</span>
                <span>L</span>
            </div>
            <div class="loading-progress">
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="loading-status">Loading...</div>
    </div>
</div> 