@font-face {
    font-family: Bristone;
    src: url(/Fonts/Bristone.ttf);
  }
  @font-face {
    font-family: Gilroy-black;
    src: url(/Fonts/Gilroy-Black.ttf);
  }
  @font-face {
    font-family:GilroyMedium ;
    src: url(/Fonts/Gilroy-Medium.ttf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navSlide{
    height: 400px;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    background-color:red;
    z-index: 9;
}

nav {
    position:fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 11vh;
    z-index: 99;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 3px solid rgb(179, 56, 56);
    background-color: white;
    margin-bottom: 0.2em;
    transition: all ease 0.5s;
}
/* nav.hidden {
  transform: translateY(-100%);
}

nav.show {
  transform: translateY(0);
} */
.logo {
    color: #b53c3c;
    padding-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1vw;
}
.logo h1{
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
    display: flex;
    align-items: center;
    font-family: Bristone;
    letter-spacing: 2px;
}
@media  (min-width: 200px) and (max-width: 1200px){
    nav{
        height: 8.5vh;
        position: fixed;
    }
    .navSlide{
        display: block !important;
    }
    .logo{
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;
    }
    .logo h1{
        font-size: 1rem;
        width: 100%;
    }
    .image-logo{
        align-items: center;
        height: 55px !important;
        /* padding: 3vw; */
    }
    .nav-links a{
        display: none !important;
        color: rgb(48, 46, 46);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 0.3rem;
        font-size: Gilroy-black;
    }
    .nav-links i{
       display: block !important;
       font-size:25px;
    }
    
}

.image-logo{
    height:5vw;
    margin: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}
.nav-links i{
    display: none;
    color: black;
}


.nav-links a {
    color: rgb(48, 46, 46);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.1rem;
    position: relative;
    font-family: 500;
    font-family: GilroyMedium;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #b53c3c;
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 120%;

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

}
.navSlide{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0%;
    right: -100%;
    background-color:rgb(33, 33, 33);
    z-index: 999;
    padding: 1vw;
    transition: all ease 0.5s;
    display: none;
    font-family: Bebrush;
  }
  .navSlide .NavLinks{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style: none;
    gap: 20px;
    margin-top: 25px;
    padding: 25px;
  }
  .navSlide .NavLinks a{
    color: white;
    text-decoration: none;
    font-family: Bebrush;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .navSlide .icon{
    height: 6vh;
    position: absolute;
    z-index: 999;
    /* background-color: rebeccapurple; */
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .ri-close-large-line{
    margin-right: 50px;
    cursor: pointer;
  }
  .ri-menu-line{
    cursor: pointer;
    color: black;
  }
  .navSlide .icon i{
    font-size: 30px;
    color: white;
  }
  .loginButton{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    width: 100%;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }


  /*Loader*/
.socket {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 5;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('/image folder/Student council png.png');
  background-position: center center;
  background-size: contain;
  /*Ensurestheimagefullycoversthecontainer*/
  background-repeat: no-repeat;
  /*Preventstiling*/
  overflow: hidden;
}
.glitch-container {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #00ffff;
  text-shadow:
    0.05em 0 0 #ff00ff,
    -0.03em -0.04em 0 #ffff00,
    0.025em 0.04em 0 #00ffff;
  animation: glitch 725ms infinite;
}

.glitch-container span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch-container span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch-container span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 #ff00ff,
      -0.03em -0.04em 0 #ffff00,
      0.025em 0.04em 0 #00ffff;
  }
  15% {
    text-shadow:
      0.05em 0 0 #ff00ff,
      -0.03em -0.04em 0 #ffff00,
      0.025em 0.04em 0 #00ffff;
  }
  16% {
    text-shadow:
      -0.05em -0.025em 0 #ff00ff,
      0.025em 0.035em 0 #ffff00,
      -0.05em -0.05em 0 #00ffff;
  }
  49% {
    text-shadow:
      -0.05em -0.025em 0 #ff00ff,
      0.025em 0.035em 0 #ffff00,
      -0.05em -0.05em 0 #00ffff;
  }
  50% {
    text-shadow:
      0.05em 0.035em 0 #ff00ff,
      0.03em 0 0 #ffff00,
      0 -0.04em 0 #00ffff;
  }
  99% {
    text-shadow:
      0.05em 0.035em 0 #ff00ff,
      0.03em 0 0 #ffff00,
      0 -0.04em 0 #00ffff;
  }
  100% {
    text-shadow:
      -0.05em 0 0 #ff00ff,
      -0.025em -0.04em 0 #ffff00,
      -0.04em -0.025em 0 #00ffff;
  }
}


 /* Developer Button */ 
 .button {
  --main-color: rgb(255, 255, 255);
  --main-bg-color: rgba(0, 0, 0, 0.36);
  --pattern-color: rgba(239, 239, 239, 0.073);

  /* change this rotation value */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(255, 0, 0, 0.638) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}
/* Footer Section */

footer {
  text-align: center;
  background-color: #231c1c;
  color: #ffffff;
  padding: 15px;
  width: 100%;
}
footer p {
  margin: 5px 0;
  color: #ffffff;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
