<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALUMNI RELATION COMMITTEE</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheet/navbaar.css">
    <link rel="stylesheet" href="../stylesheet/club.css">

    <style>
        .profile-box{
            margin-top: 5vw;
            display: flex;
            align-items: center;
            gap:1vw;
        }
        .title-box{
            width: 50%;
        }
    </style>
   
</head>
<body>
    <div class="navSlide">
        <div class="icon">
         <i class="ri-close-large-line"></i>
        </div>
         <ul class="NavLinks">
           <li><a href="/">Home</a></li>
           <li><a href="/members">Members</a></li>
           <li><a href="/clubs">Clubs</a></li>
           <li><a href="/faculty">Mentors</a></li>
           <li><a href="/gallery">Event Gallary</a></li>
           <li><a href="/login" class="loginButton">Login</a></li>   
       </ul>
       </div>

    <nav>
        <div class="logo">
            <img class="image-logo" src="/image folder/Student council png.png" title="council logo">
            <h1>STUDENT COUNCIL</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/faculty">Mentors</a></li>
            <li><a href="/gallery">Event Gallary</a></li>
            <i class="ri-menu-line"></i>
        </ul>
    </nav>
    
    <div class="profile-box">
        <img class="image" src="/image folder/Club logos/Alumni Relation.png" alt="ALUMNI RELATION COMMITTEE">
        <div class="title-box">
          <div class="follow-us-section">
             <h1 class="heading-drone">ALUMNI RELATION CLUB</h1>
             <a href="https://www.instagram.com/alumni_club"><i class="ri-instagram-line"></i></a>
           </div>
           <p class="para">Connecting past, empowering future—our Alumni Relations Club unites graduates, fostering lifelong friendships, professional growth, and a legacy of shared success.</p>
        </div>
    </div>
    <div class="container-elem">

    <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>

    <div class="club-bearer-card">
        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Darshal Jaitwar.jpg" alt="Darshal Jaitwar ">
            <h1 class="heading">Darshal Jaitwar </h1>
            <span class="span">CO-ORDINATOR</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="image folder/Club logos/Alumni Relation.png" alt="Riya Tandan">
            <h1 class="heading">Riya Tandan</h1>
            <span class="span">SECERATRY</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="image folder/Club logos/Alumni Relation.png" alt="Muskan malvi">
            <h1 class="heading">Muskan malvi</h1>
            <span class="span">ASST. SECERATRY</span>
        </div>
    </div>

    <div class="mission">
        <div class="mission-secion">
            <h3 class="mission-heading">THE MISSION</h3>
            <p>To foster a strong, supportive alumni community that bridges past and present, empowering members with lifelong connections, professional growth, and opportunities to give back.</p>

        </div>
        <div class="vision-section">
            <h3 class="vision-heading">THE VISION</h3>
            <p>To be a vibrant, engaged alumni community that inspires collaboration, drives innovation, and makes a lasting impact on future generations.</p>
        </div>
    </div>

</div>
    
    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>
   
    <script src="javascript/navbaar.js"></script>
</body>
</html>