<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CULTRUL CLUB</title>
    <link rel="stylesheet" href="/stylesheet/preloader.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheet/navbaar.css">
    <link rel="stylesheet" href="../stylesheet/Gallery.css">
    <link rel="stylesheet" href="../stylesheet/club.css">
    <style>
     .profile-box{
        margin-top: 5vw;
    }
    </style>
</head>
<body>
    <%- include('partials/preloader') %>
    <%- include('partials/nav') %>
    
    <div class="profile-box">
        <img class="image" src="/image folder/Club logos/CULTURAL & EvENT.png" alt="Cultrul Club">
        <div class="title-box">
        <div class="follow-us-section">
            <h1 class="heading-drone">CULTURAL CLUB</h1>
            <a href="https://www.instagram.com/tit_cultural/profilecard/?igsh=eXJyNzJzbjVza2Jq"><i class="ri-instagram-line"></i></a>
        </div>
            <p class="para">Cultural Club works with different clubs in a Student Council, manages and organises their events in a perfect manner.</p>
        </div>
    </div>
    <div class="container-elem">

    <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>

    <div class="club-bearer-card">
        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Ujjwal mishra.jpg" alt="Ujjwal Mishra">
            <h1 class="heading">Ujjwal Mishra </h1>
            <span class="span">CO-ORDINATOR</span>
        </div>

        <!-- <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Mradul Choudhary.jpg" alt="Mradul kumar Choudhary">
            <h1 class="heading">Mradul kumar Choudhary </h1>
            <span class="span">SECERATRY</span>
        </div> -->

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/IMG-20240627-WA0027 - This is madhur.jpg" alt="MAdhur Verma">
            <h1 class="heading">Madhur Verma </h1>
            <span class="span">SECERATRY</span>
        </div>
    </div>

    <div class="mission">
        <div class="mission-secion">
            <h3 class="mission-heading">THE MISSION</h3>
            <p>Our mission is to make sure everyone feels connected and appreciated through events and conversations that celebrate the variety of cultures in our college.</p>
        </div>
        <div class="vision-section">
            <h3 class="vision-heading">THE VISION</h3>
            <p>We see a future filled with fun events and projects that help us understand and appreciate each other's cultures.</p>
        </div>
    </div>
</div>
    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>

    <script src="javascript/navbaar.js"></script>
    <script src="/javascript/preloader.js"></script>
</body>
</html>