<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANCE CLUB</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheet/navbaar.css">
    <link rel="stylesheet" href="../stylesheet/Gallery.css">
    <link rel="stylesheet" href="../stylesheet/club.css">
    
</head>
<body>
    <div class="navSlide">
        <div class="icon">
         <i class="ri-close-large-line"></i>
        </div>
         <ul class="NavLinks">
           <li><a href="/">Home</a></li>
           <li><a href="/members">Members</a></li>
           <li><a href="/clubs">Clubs</a></li>
           <li><a href="/faculty">Mentors</a></li>
           <li><a href="/gallery">Event Gallary</a></li>
           <li><a href="/login" class="loginButton">Login</a></li>   
       </ul>
       </div>
    <nav>
        <div class="logo">
            <img class="image-logo" src="/image folder/Student council png.png"/ title="council logo">
            <h1>STUDENT COUNCIL</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/faculty">Mentors</a></li>
            <li><a href="/gallery">Event Gallary</a></li>
            <i class="ri-menu-line"></i>
        </ul>
    </nav>
    <div class="container-elem">

    <div class="profile-box">
        <img class="image" src="/image folder/Club logos/DAnce Club.png" alt="drone society">
        <div class="title-box">
            <h1 class="heading-drone">DANCE CLUB</h1>
            <p class="para">Beliving in Building Connections.</p>
        </div>
    </div>


    <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>

    <div class="club-bearer-card">
        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/IMG-20241030-WA0004 - Namrata Khapre.jpg" alt="Namrata khapre">
            <h1 class="heading">Namrata khapre</h1>
            <span class="span">CO-ORDINATOR</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Harsh Sharma.jpeg" alt="Harsh sharma">
            <h1 class="heading">Harsh sharma</h1>
            <span class="span">SECERATRY</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/IMG-20241030-WA0000 - Jiggyasa Patle.jpg" alt="Jiggyasa Patle">
            <h1 class="heading">Jiggyasa Patle</h1>
            <span class="span">ASST. SECERATRY</span>
        </div>
    </div>

    <div class="mission">
        <div class="mission-secion">
            <h3 class="mission-heading">THE MISSION</h3>
            <p>Promote electric vehicle adoption and innovation, advance sustainable transportation through education, research, and collaboration. Inspire members to contribute to a cleaner environment and a greener future.</p>
        </div>
        <div class="vision-section">
            <h3 class="vision-heading">THE VISION</h3>
            <p>Our community fosters innovation and collaboration, encouraging members to explore new applications and work together on drone-related projects, advocating for responsible drone use.</p>
        </div>
    </div>

    <div class="follow-us-section">
        <h4>Follow us on Instagram for updates and exclusive content from the TIT Drone Society!</h4>
        <a href="https://www.instagram.com/tit_coding_club/profilecard/?igsh=MTFrMmc5ZnJ6dGxiMw=="><i class="ri-instagram-line"></i></a>
    </div>

    <div class="recent-event">
        <p><section class="row" id="row"></p></section>
    </div>
</div>


    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>
    <script src="javascript/navbaar.js"></script>
  
</body>
</html>