<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ENTREPRENEURSHIP CLUB</title>
        <link rel="stylesheet" href="/stylesheet/preloader.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../stylesheet/navbaar.css">
        <link rel="stylesheet" href="../stylesheet/Gallery.css">
        <link rel="stylesheet" href="../stylesheet/club.css">
    </head>
<body>

    <%- include('partials/preloader') %>
    <%- include('partials/nav') %>
    
    <div class="container-elem">
        
        <div class="profile-box">
            <img class="image" src="/image folder/Club logos/ENTREpRENEURSHIp.png" alt="drone society">
            <div class="title-box">
                <div class="follow-us-section">
                    <h1 class="heading-drone">ENTREPRENEURSHIP CLUB</h1>
                    <a href="https://www.instagram.com/tit_coding_club/profilecard/?igsh=MTFrMmc5ZnJ6dGxiMw=="><i class="ri-instagram-line"></i></a>
                </div>
                <p class="para">Uniting Ideas, Crafting Startups.</p>
            </div>
        </div>
    
    
        <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>
    
        <div class="club-bearer-card">    
            <div class="club-bearer-card-content">
                <img class="image" src="/image folder/club members/palak.jpg" alt="Palak Bhargav">
                <h1 class="heading">PALAK BHARGAV</h1>
                <span class="span">CO-ORDINATOR</span>
            </div>
        </div>
    
        <div class="mission">
            <div class="mission-secion">
                <h3 class="mission-heading">THE MISSION</h3>
                <p>"Our mission is to fuel the fire of entrepreneurship in every member. We're all about equipping folks with the confidence and chops to rock the startup scene. From practical skills to an amazing network, our club's goal is to turn dreams into thriving businesses. Join us and let's make it happen!"</p>
    
            </div>
            <div class="vision-section">
                <h3 class="vision-heading">THE VISION</h3>
                <p>Our community fosters innovation and collaboration, encouraging members to explore new applications and work together on drone-related projects, advocating for responsible drone use.</p>
            </div>
        </div>

    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>
    <script src="javascript/navbaar.js"></script>
    <script src="/javascript/preloader.js"></script>
</body>
</html>