<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV CLUB</title>
    <link rel="stylesheet" href="/stylesheet/preloader.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheet/navbaar.css">
    <link rel="stylesheet" href="../stylesheet/club.css">
    <style>
    .profile-box{
        margin-top: 5vw;
    }
    </style>
</head>
<body>
    <%- include('partials/preloader') %>
    <%- include('partials/nav') %>
   
    
    <div class="profile-box">
        <img class="image" src="/image folder/Club logos/EV.png" alt="EV CLUB">
        <div class="title-box">
            <div class="follow-us-section">
                <h1 class="heading-drone">EV CLUB</h1>
                <a href="https://www.instagram.com/tit_coding_club/profilecard/?igsh=MTFrMmc5ZnJ6dGxiMw=="><i class="ri-instagram-line"></i></a>
            </div>
            <p class="para">Electronic Vehicle Club is a type of club in which we can create a project based on the electronic Vehicle </p>
        </div>
    </div>

    <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>

    <div class="club-bearer-card">
        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Sachin Singh.jpg" alt="Sachin Singh ">
            <h1 class="heading">Sachin Kumar Singh</h1>
            <span class="span">CO-ORDINATOR</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Suryansh Shukla.jpg" alt="Suryansh Shukla">
            <h1 class="heading">Suryansh Shukla</h1>
            <span class="span">SECERATRY</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Abhishek Jha.jpg" alt="Abhishek Jha">
            <h1 class="heading">Abhishek Jha</h1>
            <span class="span">ASST. SECERATRY</span>
        </div>
    </div>

    <div class="mission">
        <div class="mission-secion">
            <h3 class="mission-heading">THE MISSION</h3>
            <p>Create an electronic Vehicle.</p>
        </div>
        <div class="vision-section">
            <h3 class="vision-heading">THE VISION</h3>
            <p>Large amount of electronic Vehicle create.</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>

    <script src="javascript/navbaar.js"></script>
    <script src="/javascript/preloader.js"></script>
</body>
</html>