<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEE STUDENT CHAPTER</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="../stylesheet/navbaar.css">
    <link rel="stylesheet" href="../stylesheet/club.css">
    <style>
        .profile-box{
            margin-top: 5vw;
        }
    </style>
</head>
<body>
    <div class="navSlide">
        <div class="icon">
         <i class="ri-close-large-line"></i>
        </div>
         <ul class="NavLinks">
           <li><a href="/">Home</a></li>
           <li><a href="/members">Members</a></li>
           <li><a href="/clubs">Clubs</a></li>
           <li><a href="/faculty">Mentors</a></li>
           <li><a href="/gallery">Event Gallary</a></li>
           <li><a href="/login" class="loginButton">Login</a></li>   
       </ul>
       </div>
    <nav>
        <div class="logo">
            <img class="image-logo" src="/image folder/Student council png.png" title="council logo">
            <h1>STUDENT COUNCIL</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/faculty">Mentors</a></li>
            <li><a href="/gallery">Event Gallary</a></li>
            <i class="ri-menu-line"></i>
        </ul>
    </nav>


    <div class="profile-box">
        <img class="image" src="/image folder/Club logos/IEEE Student Chapter.png" alt="IEEE STUDENT CHAPTER">
        <div class="title-box">
            <div class="follow-us-section">
                <h1 class="heading-drone">IEEE STUDENT CHAPTER</h1>
                <a href="https://www.instagram.com/tit_cultural/profilecard/?igsh=eXJyNzJzbjVza2Jq"><i class="ri-instagram-line"></i></a>
                
            </div>
            <p class="para">Do what u can , where u are , with what u have..!</p>
        </div>
    </div>

    <div class="club-bearer"><h1 class="heading-drone">CLUB BEARER</h1></div>

    <div class="club-bearer-card">
        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/club members/Nishant Manjhi.jpg" alt="Nishant Manjhi">
            <h1 class="heading">Nishant Manjhi</h1>
            <span class="span">CO-ORDINATOR</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/Club logos/IEEE Student Chapter.png" alt="Shivendra Singh Parihar">
            <h1 class="heading">Shivendra Singh Parihar</h1>
            <span class="span">SECERATRY</span>
        </div>

        <div class="club-bearer-card-content">
            <img class="image" src="/image folder/Club logos/IEEE Student Chapter.png" alt="Riya Soni">
            <h1 class="heading">Riya Soni</h1>
            <span class="span">ASST. SECERATRY</span>
        </div>
    </div>

    <div class="mission">
        <div class="mission-secion">
            <h3 class="mission-heading">THE MISSION</h3>
            <p>To arrange for regular events in the campus specifically dealing with latest technologies. To work towards motivating and inspiring more students to become members. To increase the Membership Retention, though creating awarness about the benefits of IEEE. To organize programmes with a special focus on fostering technical awareness and understanding among young professionals. To kindle the interest of the students and empowering them to takeup new papers and novel and socially relevant projects.</p>
        </div>
        <div class="vision-section">
            <h3 class="vision-heading">THE VISION</h3>
            <p>The primary purpose of IEEE student chapter is to Inspire, Enable, Empower and Energize our student members to enhance their technical interests by providing them a platform to show case their skills through interactions.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 STUDENT COUNCIL TIT. All rights reserved.</p>
    </footer>
    <script src="javascript/navbaar.js"></script>
</body>
</html>