<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Clubs</title>
    <link rel="stylesheet" href="/stylesheet/preloader.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="/stylesheet/navbaar.css">
    <link rel="stylesheet" href="/stylesheet/Student.css">
    <link rel="stylesheet" href="/stylesheet/ourclub.css">
</head>
<body>

    
    <%- include('partials/preloader') %>

    <div class="navSlide">
        <div class="icon">
         <i class="ri-close-large-line"></i>
        </div>
         <ul class="NavLinks">
           <li><a href="/">Home</a></li>
           <li><a href="/members">Members</a></li>
           <li><a href="/clubs">Clubs</a></li>
           <li><a href="/faculty">Mentors</a></li>
           <li><a href="/gallery">Event Gallary</a></li>
           <li><a href="/login" class="loginButton">Login</a></li>   
       </ul>
       </div>
    <nav>
        <div class="logo">
            <img class="image-logo" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502420/Student_council_vjzt0j.png" title="council logo">
            <h1>STUDENT COUNCIL</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/faculty">Mentors</a></li>
            <li><a href="/gallery">Event Gallary</a></li>
            <i class="ri-menu-line"></i>
        </ul>
    </nav>

    <div class="container">
        <div class="heading">
            <h1>OUR CLUBS & SOCIETIES</h1>
        </div>
        
        <div class="club-grid">
            <a href="/club/coding" class="card" style="--i:1">
                    <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502249/Coding_club_ed2sbh.png" alt="CODING CLUB">
                    <div class="textBox">
                    <p class="text">CODING CLUB</p>
                </div>
            </a>

        <a href="club/drone">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502267/DRONE_SOCIETY_ugfbt4.png" alt="DRONE SOCIETY">
                <div class="textBox">
                    <p class="text head">DRONE SOCIETY</p>
                </div>
            </div>
        </a>

        <a href="club/media">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502257/Media_Fusion_vhlhjp.png" alt="MEDIA FUSION">
                <div class="textBox">
                    <p class="text head">MEDIA FUSION</p>
                </div>
            </div>
        </a>

        <a href="club/Cultural">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502266/CULTURAL_EvENT_abnyuq.png" alt="CULTURAL CLUB">
                <div class="textBox">
                    <p class="text head">CULTURAL CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/Robotics">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502262/RObOTICS_CLUB_zuu4q1.png" alt="ROBOTICS CLUB">
                <div class="textBox">
                    <p class="text head">ROBOTICS CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/entrepreneurship">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502252/ENTREpRENEURSHIp_weamnu.png" alt="ENTREpRENEURSHIp">
                <div class="textBox">
                    <p class="text head">ENTREPRENEURSHIP CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/Literary">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502256/LITERARY_Club_ooakhl.png" alt="LITERARY CLUB">
                <div class="textBox">
                    <p class="text head">LITERARY CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/Renewable">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502261/RENEwAbLE_ENERGY_x7mjft.png" alt="RENEWABL ENERGY CLUB">
                <div class="textBox">
                    <p class="text head">RENEWABL ENERGY CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/Disipline">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502251/DISCIpLINE_jt8ej5.png" alt="DISCIPLINE CLUB">
                <div class="textBox">
                    <p class="text head">DISCIPLINE CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/Alumni">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502264/Alumni_Relation_mp5xrs.png" alt="ALUMNI RELATION COMMITTEE">
                <div class="textBox">
                    <p class="text head">ALUMNI RELATION COMMITTEE</p>
                </div>
            </div>
        </a>

        <a href="club/Tech">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502263/Tech_WIZARDs_obkby8.png" alt="TECH WIZARDS">
                <div class="textBox">
                    <p class="text head">TECH WIZARDS</p>
                </div>
            </div>
        </a>

        <a href="club/EV">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502268/EV_g2djgp.png" alt="EV">
                <div class="textBox">
                    <p class="text head">EV CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/music">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502258/mUSIC_SOCIETY_m2wmom.png" alt="MUSIC SOCIETY">
                <div class="textBox">
                    <p class="text head">MUSIC SOCIETY</p>
                </div>
            </div>
        </a>

       

        <a href="club/Dance">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502250/DAnce_Club_s5g6df.png" alt="DANCE CLUB">
                <div class="textBox">
                    <p class="text head">DANCE CLUB</p>
                </div>
            </div>
        </a>

        <a href="club/IEEE">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502254/IEEE_Student_Chapter_tzqiza.png" alt="IEEE STUDENT CHAPTER">
                <div class="textBox">
                    <p class="text head">IEEE STUDENT CHAPTER</p>
                </div>
            </div>
        </a>

        <a href="club/cyberCop">
            <div class="card">
                <img class="img" src="https://res.cloudinary.com/dlk5kntmy/image/upload/v1747502250/cyber_COP_npmtvn.png" alt="CYBER COP">
                <div class="textBox">
                    <p class="text head">CYBER COP</p>
                </div>
            </div>
        </a>

        </div>
    </div>

    
<!-- Footer Section -->
<footer>
    <a href="/Dev">
        <button class="button">Developer team</button>      
      </a>
</footer>
<script src="javascript/navbaar.js"></script>
<script src="javascript/clubs.js"></script>
<script src="/javascript/preloader.js"></script>
</body>
</html>