<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900 h-[100%] flex items-center justify-center p-10 ">
    <div class="h-1/3 w-1/3 p-6 flex flex-col rounded items-center bg-zinc-800 justify-center gap-5">
        <div class="h-24 w-24 rounded-full bg-zinc-700 ">
            <img src="" alt="">
        </div>
        <div>
            <h1 class="text-white text-xl">Welcome, Council Member!</h1>
            <h1 class="text-gray-300 text-sm mt-1">Enrollment No. : 0111Cd221166</h1>
            <h1 class="text-gray-300 text-sm">Email : ok@gmail.com</h1>
            <h1 class="text-gray-300 text-sm">Phone : 9876543210</h1>

            <div class="mt-5 text-white">
                <h4 class="text-white ">Events : 0</h4>
                <li class="text-sm">jasn</li>
                <li class="text-sm">msb</li>
                <li class="text-sm">mb</li>
                <li class="text-sm">mhdbb</li>
            </div>
            <div class="mt-5 flex justify-between">
                <a href="/edit-profile" class="text-blue-500 text-sm hover:text-gray-300 ">Edit Profile</a>
                <a href="/logout" class="text-red-500 text-sm hover:text-gray-300">Log Out</a>
            </div>
           
        </div>
    </div>
</body>
</html>