@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or index.css */
  body::-webkit-scrollbar{
    display: none;
  }
  

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
/* Hide scrollbar (cross-browser) */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
